.navigationLink {
  color: #555;
  font-style: none;
  text-decoration: none;
  border: 2px solid #555;
  padding: 5px;
  background-color: white;
  margin: 10px;
}

.booking {
  padding: 20px;
  background-color: #531dab;
  margin: 0;
  color: #d9d9d9;
}

.welcome {
  text-align: center;
  font-size: 40px;
  color: #757575;
}


.renderBody {
  height: 100%;
  background-color: "#ECECEC";
  padding: "30px";
}
.booking ul {
  list-style: none;
  display: inline;
  margin-left: 30px;
  padding: 0;
  width: 100%;
  text-align: center;
}

.booking span {
  font-size: 35px;
  display: inline;
  color:#e8cd45;
}

.booking nav {
  display: inline;
}
.booking li {
  display: inline-block;
  margin: 0 20px;
}

.booking a {
  text-decoration: none;
  color: #d9d9d9;
  font-size: 20px;
  font-weight: 500;
}

.booking a:hover,
.booking a:active {
  color: #fa923f;
}
