.contactList {
    height: 82%;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;

    .contact {
        cursor: pointer;
        background-color: aliceblue;
        border-bottom: 1px solid #d9d9d9;
    }
}