@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito'), url(/fonts/nunito-regular.ttf) format('truetype');
}

#__next {
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
    font-family: 'Nunito', sans-serif;
}